main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.card-article {
    display: flex;
    padding: 80px 0 0 0 ;
    gap: 24px;
    justify-content: space-between;
}

.subline {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: 40px;
    color: rgba(78, 164, 135, 1);
}
.article-text h1 {
    font-family: "Arima";
    font-weight: bold;
    font-size: 64px;
    color: rgba(241, 201, 83, 1);
    line-height: 1.2;


}

.article-text p {
    color: rgba(84, 55, 13, 1);
    font-family: "Palaquin";
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
}
.article-footer {
    /* width: 575px; */
    height: 19px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    right: 6px;
    top: 30px;
}
.article-footer .footer-text {
    color: rgba(84, 55, 13, 1);
    font-family: "Palaquin";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    right: 15px;
}
.authorcard {
    background-color: rgba(78, 164, 135, 0.2);
    /* width: 272px; */
    /* height: 389px; */
    border-radius: 30px;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding-top: 16px;
    }
}
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 240px;
    height: 171px; */
    margin: 16px;

    .card-name {
        font-family: "Arima";
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
    }
    .name-text {
        font-family: "Arima";
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 12px;
    }
}
.card-body-text {
    /* height: 171px; */
    font-family: "Palaquin";
    font-size: 16px;
    font-weight: 400;
    color: rgba(84, 55, 13, 1);
}

.list_icon {
    display: flex;
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: #4EA487;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transform: rotate(-12deg);

    img {
        width: 43px;
        height: 43px;
        padding-right: 5px;
    }

    p {
        color: #F1C953;
        font-family: "Palanquin";
        font-weight: bold;
        font-size: 1.75rem;
    }
}

.pro_tipps {
    max-width: 1083px;
    height: 100%;
    background-color: #DDEBE5;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin: auto;
    margin-top: 60px;
    padding: 1.5rem;

    .list {
        font-family: "Palanquin";
        font-size: 1.5rem;
        margin: auto;
    }

    ol {
        line-height: 1.2;
    }

    span {
        color: #4EA487;
        font-family: "Palanquin";
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.info_text {
        font-size: 1.5rem;
        font-family: "Palanquin";
        line-height: 1.2;
        color: #3d3d3d;
        padding: 24px;
        margin: auto;
        justify-content: center;
}

.info_text_beach {
        font-size: 1.5rem;
        font-family: "Palanquin";
        line-height: 1.2;
        margin: auto;
        justify-content: center;
        color: #3d3d3d;

}

#list_table {
    margin: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #3d3d3d;
    line-height: 1.2;
    gap: 24px;
    font-family: "Palanquin";
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 493px;
    gap:48px;
    p {
        color: var(--secondary-braun);
        font-family: "Arima";
        font-size: 1.5rem;
        line-height: 1.2;
        text-align: center;
    }

}

.button {
    display: flex;
    align-items: center;
    gap:10px;
    padding: 0px 24px;
    height: 48px;
    background-color: var(--primary-green);
    border-radius: 40px;
    p{
        color: var(--primary-gelb);
        font-family: "Arima";
        font-size: 1.5rem;
    }
}

.arrow{ position: absolute;
    left: 15px;
    top: 40px;
    /* transform: rotate(28deg); */
}

/* -------------------------- */

.slider_article_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.headline_beach >h2{
    text-align: center;
    font-family:"Arima", sans-serif;
    font-weight: 600;
    color: rgba(94, 55, 13, 1);
    font-size: 32px;
    padding-bottom: 64px;
    line-height: 1.1;
}
.gallery{
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 20px;
}
.gallery .card{
    width: 300px;
    height: 440px;
    border-radius: 20px;
    margin: 0 -80px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    overflow: hidden;
    transform: perspective(250px) 
    rotateY(20deg) translateX(-20px);
}


.gallery .card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;  
}
.gallery:hover .card{
    transform: perspective(1000px) rotateY(25deg) translateX(-40px);    
}
.gallery .card:hover{
        z-index: 10;
    transform: perspective(1000px) rotateY(0deg) scale(1.05);
    margin: 0 30px;
}
.gallery .card:hover~.card{
    transform: perspective(1000px) rotateY(-25deg) translateX(40px);
}
.radio_buttons{
    display: none;
}

/* ------------------------------------- */


/*Responsive_Part*/
@media screen and (min-width:768px) 
and (max-width:1280px){
    .gallery .card img {
        object-position: center;
    }

}
@media screen and (max-width:767px){
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;


}
.gallery .card  {
    width: 200px;
    height: 293px;
}


.radio_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 5px;

}
.radio_buttons input[type="radio"]:checked{
    background-color: rgba(78, 164, 135, 1);
    -webkit-appearance: none;
    width: 40px;
    height: 22px;
}
.radio_buttons input[type="radio"]{
    width: 22px;
    height: 22px;
    border-radius: 50px;
}

}
