main {
    display: flex;
    flex-direction: column;
    /* padding: 128px 120px; */
    gap: 80px;
}

.list_icon {
    display: flex;
    position: absolute;
    top: -70px;
    left: -50px;
}

.pro_tipps {
    position: relative;
    max-width: 1083px;
    height: 100%;
    background-color: #DDEBE5;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin: auto;
    padding: 1.5rem;

    .list {
        font-family: "Palanquin";
        font-size: 1.5rem;
        margin: auto;
    }

    ol {
        padding: 1.5rem;
        line-height: 1.2;
    }

    span {
        color: #4EA487;
    }
}







.list {
    display: flex;
    flex-direction: column;
    max-width: 1000px;

    margin: auto;
    font-size: 1.5rem;
    color: #3d3d3d;
    justify-content: center;
    line-height: 1.2;
    gap: 24px;
    font-family: "Palanquin";

    ol {
        padding: 0px 25px;
    }
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 493px;
    gap:48px;
    p {
        color: var(--secondary-braun);
        font-family: "Arima";
        font-size: 1.5rem;
        line-height: 1.2;
        text-align: center;
    }

}

.button {
    display: flex;
    align-items: center;
gap:10px;
padding: 0px 24px;
    height: 48px;
    background-color: var(--primary-green);
    border-radius: 40px;
    p{
                color: var(--primary-gelb);
        font-family: "Arima";
        font-size: 1.5rem;
    }
}

.arrow{ position: absolute;
    left: 15px;
    top: 40px;
    /* transform: rotate(28deg); */
}