.sozi-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 32px;
    gap: 16px;
}
.side-bar {
    display: flex;
    align-items: center;
}
.side-bar p {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    height: 24px;

    display: flex;
    align-items: center;
    font-family: "Palanquin";
    font-weight: 400;
}

.side-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255, 1);
    font-family: "Palanquin";
    padding: 0 32px 0 64px;
}
.side-bar .travel {
    display: flex;
    gap: 4px;
    font-size: 18px;
    justify-content: flex-start;
}
.side-bar .imp {
    font-size: 16px;
}
.side-bar {
    cookie {
        left: 15px;
    }
}
.side-bar img {
    width: 24px;
    height: 24px;
}
.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px max(120px, calc(50%-720px));
}
.footer-contain {
    margin-top: 70px;
    background-color: rgba(78, 164, 135, 1);
    height: 152px;
    padding: 60px 0px;
}

.travel {
    padding-left: 8px;
}
.copyrightwrapper {
    display: flex;
}
.imprintcookiereverse{
display: flex;
}
.footermenu{
    display: none;
}
@media screen and (max-width: 767px) {
    .side-bar {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 8px;

        p {
            font-size: 1rem;
        }
        a{padding:0;}

    }
    .sozi-bar {
        a img {
            height: 24px;
        }
    }
    .footer-bar{
        align-items: end;
    }
    .footer-contain{
        height: auto;
        padding:20px 0 100px 0;
    }
    .footermenu{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--primary-gelb);
    position:fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index:10;
    a{display: flex;
    align-items: center;}
}
.copyrightwrapper{ img{height: 20px; width: 20px;}
align-items: center;}
.imprintcookiereverse{
flex-direction: column;
}
}

@media screen and (max-width: 375px)
{
.sozi-bar{display: none;}
}
