.header {
    display: flex;
    height: 128px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(78, 164, 135, 1);

    .container {
        display: flex;
        align-items: center;
        gap: 102px;
    }
}

.nav-bar {
    display: flex;
    gap: 72px;
}
.nav-bar a {
    font-family: "arima";
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.high {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 0% 25px;
    color: rgba(248, 245, 235, 1);
}
.high:hover {
    background-image: url(./assets/icons/Main/Highlights_hover.svg);
    background-size: 100% 20px;
    left: 1px;
    bottom: -1px;
    color: rgba(248, 245, 235, 1);
}
.high:active {
    color: rgba(241, 201, 83, 1);
}

.high:focus {
    color: rgba(241, 201, 83, 1);
}
.faq {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: rgba(248, 245, 235, 1);
}
.faq:hover {
    background-image: url(./assets/icons/Main/FAQ_hover.svg);
    background-size: 100% 20px;
    color: rgba(248, 245, 235, 1);
    left: 1px;
    bottom: -1px;
}
.faq:active {
    color: rgba(241, 201, 83, 1);
}
.faq:focus {
    color: rgba(241, 201, 83, 1);
}
.con {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: rgba(248, 245, 235, 1);
}
.con:hover {
    background-image: url(./assets/icons/Main/Contacts_hover.svg);
    background-size: 100% 20px;
    color: rgba(248, 245, 235, 1);
    left: 1px;
    bottom: -1px;
}
.con:active {
    color: rgba(241, 201, 83, 1);
}
.con:focus {
    color: rgba(241, 201, 83, 1);
}
