h1 {
    font-family: "Arima";
    color: var(--secondary-braun);
    font-size: 3.75rem;
}
.banner-container {
    padding: 0px max(0px, calc(50% - 770px));
}
.main-banner {
    height: 547px;
    position: relative;
    padding: 60px;
}

.header-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}
.banner-vector {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 2;
    animation: vector 5s ease-in backwards;
}

.banner-content {
    position: relative;
    z-index: 3;

    width: 345px;
    p {
        font-family: var(--main-font);
        color: var(--secondary-braun);
        font-size: 1.75rem;
        line-height: 1.1;

        display: flex;
        align-items: left;
    }
}

.turkie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    z-index: 3;
    background-color: #4ea487;
    position: absolute;
    top: 45%;
    left: 450px;
    border-radius: 50%;
    .spin {
        animation: spin 10s linear infinite;
    }
    img {
        position: absolute;
    }
}

@keyframes spin {
    0% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .banner-vector {
        left: -100px;
        height: 50%;
    }

    .banner-content {
        display: none;
    }

    .turkie {
        left: 45px;
        top: 120px;
    }
    .header-photo {
        object-position: 60%;
        height: 100%;
    }

    .main-banner {
        padding: 0;
        height: 515px;
    }

}
