*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    position: relative;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}


h1 {
    font-family: "Arima";
    color: var(--secondary-braun);
    font-size: 3.75rem;
}
.container{
    padding:0;
    width:100%
}
.main-banner {
    height: 547px;
    position: relative;
    padding: 60px;
}

.header-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}
.banner-vector {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 2;
    animation: vector 5s ease-in backwards;
}

.banner-content {
    position: relative;
    z-index: 3;

    width: 345px;
    p {
        font-family: var(--main-font);
        color: var(--secondary-braun);
        font-size: 1.75rem;
        line-height: 1.1;

        display: flex;
        align-items: left;
    }
}

.turkie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    z-index: 3;
    background-color: aqua;
    position: absolute;
    top: 45%;
    left: 450px;
    border-radius: 50%;
.spin{
    animation: spin 10s linear infinite;
}
img{
    position:absolute;
}
}

@keyframes spin{
    0%{transform:rotate(-360deg)}
}