.card-articel {
    width: 1201px;
    height: 391px;
    display: flex;
    justify-content: center;
}
.articel-text {
    width: 902px;
    height: 391px;
}
.subline {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: 40px;
    color: rgba(78, 164, 135, 1);
}
.articel-text h1 {
    font-family: "Arima";
    font-weight: bold;
    font-size: 64px;
    color: rgba(241, 201, 83, 1);
    line-height: 1.2;

    span {
        white-space: nowrap;
    }
}

.articel-text p {
    color: rgba(84, 55, 13, 1);
    font-family: "Palaquin";
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
}
.articel-footer {
    width: 575px;
    height: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 6px;
    top: 30px;
}
.articel-footer .footer-text {
    color: rgba(84, 55, 13, 1);
    font-family: "Palaquin";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    right: 15px;
}
.authorcard {
    background-color: rgba(78, 164, 135, 0.2);
    width: 272px;
    height: 389px;
    border-radius: 30px;
}
.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding-top: 16px;
    }
}
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 171px;
    margin: 16px;

    .card-name {
        font-family: "Arima";
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
    }
    .name-text {
        font-family: "Arima";
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 12px;
    }
}
.card-body-text {
    height: 171px;
    font-family: "Palaquin";
    font-size: 16px;
    font-weight: 400;
    color: rgba(84, 55, 13, 1);
}
