.slider_articel_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headline_beach >h2{
    text-align: center;
    font-family:"Arima", sans-serif;
    font-weight: 600;
    color: rgba(94, 55, 13, 1);
    font-size: 32px;
    padding-bottom: 64px;
    line-height: 1.1;
}

