.slider_articel_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headline_beach >h2{
    text-align: center;
    font-family:"Arima", sans-serif;
    font-weight: 600;
    color: rgba(94, 55, 13, 1);
    font-size: 32px;
    padding-bottom: 64px;
    line-height: 1.1;
}
.gallery{
    display: flex;
    flex-direction: raw;
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;

}
.card{
    z-index: 1;
    width: 300px;
    height: 80%;
    box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    transition: all 250ms ease-in-out;
}
.card:hover{
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0deg) scaleX(1.5) scaleY(1.2);
}
.card:hover~.card{
    transform: perspective(250px) rotateY(-20deg) translateY(20px)
}
.card img{
    width: 300px;
    height: 440px;
    object-fit: cover;
    max-width: 1200px;
}

